@import "./util.styl";
@import "./base.styl";
@import "./parts/std/std.styl";
@import "./parts/neuron/neuron.styl";
@import "./parts/editor/editor.styl";

html, body
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  font-size: 20px;
  line-height: 1.5;

*
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

head *
  display: none;

div.__root, div.sc_root
  flex: 1;

.sc_root
  align-items: center;
  justify-content: center;
  background: black;

app
  position: relative;
  width: 1280px;
  height: 800px;
  overflow: hidden;

  screen-layer
    overlay();
    flex-direction: row;
    perspective: 1000px;
    perspective-origin: 50% 52%;
    transform-style: preserve-3d;
    overflow: hidden;

//------------------------------------------------------------------------------
// Neural Screen
//------------------------------------------------------------------------------

neural-screen-wrapper
  $w = 384px;
  $t = 240px;
  $a = 0.3s;

  $mw = 1280px;
  $mh = 800px

  pointer-events: none;
  transform-style: preserve-3d;
  align-items: center;
  justify-content: flex-start;

  position: relative;
  top: $t;
  width: $w;
  height: $w;
  transform-origin: 50% 50%;
  transition: transform $a ease, z-index $a step-end;
  z-index: 1;
  pointer-events: auto;

  neural-screen-inner
    position: relative;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
    transform-origin: inherit;
    transition: all $a ease;
    background: linear-gradient(to bottom, #444 0%, #999, 90%, #666 100%);
    border: 2px solid silver;

  &.focused
    z-index: 10;
    transition: transform $a ease, z-index $a step-start;

    neural-screen-inner
      top: - $t;
      width: $mw;
      height: $mh;

  screen($dx, $dz, $r, $ix)
    transform: translate3d($dx, 0, $dz) rotateY($r);

    &.focused neural-screen-inner
      transform: rotateY(- $r) translate3d(- $dx, 0, - $dz) translate3d((1.5 - $ix) * $w - 129px, 0, 0);

  &.Motor
    screen(-80px, 0, 45deg, 0);

  &.Logic
    screen(-131px, -225px, 20deg, 1);

  &.Language
    screen(-124px, -225px, -20deg, 2);

  &.Memory
    screen(-174px, 0, -45deg, 3);



  svg.neural-screen
    // pointer-events: auto;
