@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import "./util.styl";
@import "./base.styl";
@import "./parts/std/std.styl";
@import "./parts/neuron/neuron.styl";
@import "./parts/editor/editor.styl";
@import "./parts/dialog/dialog.styl";
@import "./parts/scene/scene.styl";

html, body
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  font-size: 20px;
  line-height: 1.5;

*
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

head *
  display: none;

body
  font-family: Nunito, "Segoe UI Emoji";

h1, h2, h3, h4, h5, h6
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: inherit;

div.__root, div.sc_root
  flex: 1;

.sc_root
  align-items: center;
  justify-content: center;
  background: black;

app
  position: relative;
  width: 1600px;
  height: 900px;
  overflow: hidden;

  screen-layer
    overlay();
    flex-direction: row;
    justify-content: center;
    perspective: 1000px;
    perspective-origin: 50% 52%;
    transform-style: preserve-3d;
    overflow: hidden;
    user-select: none;

//------------------------------------------------------------------------------
// Neural Screen
//------------------------------------------------------------------------------

neural-screen-wrapper
  $w = 1000px;
  $h = 900px;
  $t = -50px;
  $a = 0.3s;

  transform-style: preserve-3d;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: $t;

  opacity: 1;
  transform-origin: 50% 50%;
  transition: transform $a ease, z-index $a step-end;
  z-index: 1;
  pointer-events: none;

  back-button
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    font-size: 1.5em;
    color: white;
    transition: background 0.2s ease;

    &:hover
      background: rgba(white, 0.2);

    &:active
      background: rgba(white, 0.4);

  neural-screen-placeholder
    position: absolute;
    width: $w;
    height: $h;
    background: linear-gradient(to bottom, #444 0%, #999, 90%, #888 100%);
    transform: translate3d(0, 0, -30px);
    z-index: -1;
    pointer-events: auto;

    h3
      position: absolute;
      bottom: 100%; left: 0; right: 0;
      margin-bottom: 20px;
      font-size: 8em;
      text-align: center;
      // background: #8B6864;
      color: #EBE7D2;

  &:first-child
    h3
      text-align: right;
      padding-right: 150px;

  &:last-child
    h3
      text-align: left;
      padding-left: 75px;

  .neural-screen-panel
    position: absolute;
    top: 0;
    opacity: 1;

  neural-screen-inner
    position: relative;
    top: 0;
    width: $w;
    height: $h;
    transform-origin: inherit;
    transition: all $a ease;
    background: linear-gradient(to bottom, #444 0%, #999, 90%, #888 100%);
    border: 2px solid silver;
    z-index: 2;
    pointer-events: auto;

    &:after
      content: "";
      overlay();
      scanline();
      z-index: 12;
      pointer-events: none;
      transition: opacity 0.1s ease 0.1s;

  &.flashing
    neural-screen-inner, neural-screen-placeholder
      animation: flash 0.5s 4;

  &.mini
    .neuron
      pointer-events: none;

    neural-screen-inner:after
      opacity: 0.1;
      transition: opacity 0.1s;

  &.focused
    z-index: 10;
    transition: transform $a ease, z-index $a step-start;

    .neuron
      pointer-events: auto;

    neural-screen-inner
      top: - $t;

  screen($dx, $dz, $r, $ix)
    neural-screen-inner, neural-screen-placeholder
      transform: translate3d($dx, 0, $dz) rotateY($r);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

    &.focused neural-screen-inner
      transform: translate3d(- $ix * $w, 0, 0);

  panel($dx, $dy, $dz, $r)
    .neural-screen-panel
      transform: translate3d($dx, $dy, $dz) rotateY($r) rotateX(88deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

  &.Motor
    screen(120px, -1000px, 45deg, -1.5);
    // panel(470px, $h, -1100px, 50deg);

  &.Logic
    screen(-5px, -1600px, 22deg, -0.5);
    // panel(-5px, 0, -1600px, 22deg);

  &.Language
    screen(10px, -1600px, -22deg, 0.5);
    // panel(10px, 0, -1600px, -22deg);

  &.Memory
    screen(-115px, -1000px, -45deg, 1.5);
    // panel(-115px, 0, -1000px, -45deg);

  svg.neural-screen
    // pointer-events: auto;

  task-layer
    overlay();
    pointer-events: none;

    motor-task
      position: absolute;
      top: 20px; left: 0; right: 0;
      height: 4em;
      flex-direction: row;
      overflow: hidden;

      &:after
        content: "";
        position: absolute;
        top: 0; bottom: 0; left: 5%;
        width: 3px;
        background: linear-gradient(to bottom, rgba(white, 0.25), rgba(white, 0.75), rgba(white, 0.25));
        border: 1px solid #444;
        border-radius: 3px;

      motor-task-step
        position: absolute;
        left: calc(5% + (var(--by) - var(--elapsed)) / var(--vp) * 95%);
        width: 4em;
        height: 4em;

        background: rgba(black, 0.6);
        border-radius: 6px;
        border: 1px solid #444;
        color: white;





@keyframes flash
  0%
    opacity: 1;
  50%
    opacity: 0.5;
  100%
    opacity: 1;
