@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@import "./util.styl";
@import "./base.styl";
@import "./parts/std/std.styl";
@import "./parts/neuron/neuron.styl";
@import "./parts/editor/editor.styl";

html, body
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  font-size: 20px;
  line-height: 1.5;

*
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

head *
  display: none;

body
  font-family: Nunito;

h1, h2, h3, h4, h5, h6
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: inherit;

div.__root, div.sc_root
  flex: 1;

.sc_root
  align-items: center;
  justify-content: center;
  background: black;

app
  position: relative;
  width: 1600px;
  height: 900px;
  overflow: hidden;

  screen-layer
    overlay();
    flex-direction: row;
    justify-content: center;
    perspective: 1000px;
    perspective-origin: 50% 52%;
    transform-style: preserve-3d;
    overflow: hidden;

//------------------------------------------------------------------------------
// Neural Screen
//------------------------------------------------------------------------------

neural-screen-wrapper
  $w = 1000px;
  $h = 900px;
  $t = -50px;
  $a = 0.3s;

  transform-style: preserve-3d;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: $t;

  transform-origin: 50% 50%;
  transition: transform $a ease, z-index $a step-end;
  z-index: 1;
  pointer-events: none;

  neural-screen-placeholder
    position: absolute;
    width: $w;
    height: $h;
    background: linear-gradient(to bottom, #444 0%, #999, 90%, #888 100%);
    transform: translate3d(0, 0, -30px);
    z-index: -1;
    pointer-events: auto;

    h3
      position: absolute;
      bottom: 100%; left: 0; right: 0;
      margin-bottom: 20px;
      font-size: 8em;
      text-align: center;
      background: #ccc;

  &:first-child
    h3
      text-align: right;
      padding-right: 150px;

  &:last-child
    h3
      text-align: left;
      padding-left: 75px;

  neural-screen-inner
    position: relative;
    top: 0;
    width: $w;
    height: $h;
    transform-origin: inherit;
    transition: all $a ease;
    background: linear-gradient(to bottom, #444 0%, #999, 90%, #888 100%);
    border: 2px solid silver;
    z-index: 2;
    pointer-events: auto;

  &.mini
    .neuron
      pointer-events: none;

  &.focused
    z-index: 10;
    transition: transform $a ease, z-index $a step-start;

    .neuron
      pointer-events: auto;

    neural-screen-inner
      top: - $t;

  screen($dx, $dz, $r, $ix)
    neural-screen-inner, neural-screen-placeholder
      transform: translate3d($dx, 0, $dz) rotateY($r);

    &.focused neural-screen-inner
      transform: translate3d(- $ix * $w, 0, 0);

  &.Motor
    screen(120px, -1000px, 45deg, -1.5);

  &.Logic
    screen(-5px, -1600px, 22deg, -0.5);

  &.Language
    screen(10px, -1600px, -22deg, 0.5);

  &.Memory
    screen(-115px, -1000px, -45deg, 1.5);

  svg.neural-screen
    // pointer-events: auto;
