@import "../../util.styl";

editor, editor-content
  overlay();
  pointer-events: none;

editor-content
  editing-notice
    position: absolute;
    right: 0; top: 0;
    margin: 0.25em;
    padding: 0.25em;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border-radius: 4px;
    background: rgba(white, 0.2);
    backdrop-filter: blur(3px);

    .type-icon
      margin-top: 0.25em;
