.neuron
  --nucleus: indigo;
  --axon: mix(indigo, blue, 50%);
  --terminal: blue;
  --pulse: yellow;

  pointer-events: auto;

  &.motor
    --nucleus: lawngreen;
    --axon: cyan;
    --terminal: #87CEFA

  &.logic
    --nucleus: red;
    --axon: mix(red, orange, 50%);
    --terminal: orange;

  &.memory
    --nucleus: pink;
    --axon: mix(pink, brown, 50%);
    --terminal: brown;

    .memory-icon
      position: relative;
      width: 60px;
      height: 60px;
      font-size: 2em;
      pointer-events: none;

      i
        overlay();
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        color: black;

      &.pulse-icon
        width: 30px;
        height: 30px;
        font-size: 1em;

  &.language
    --nucleus: darkgreen;
    --axon: mix(darkgreen, gold, 50%);
    --terminal: gold;

  .neuron-inner
    filter: url("#goo");

  .nucleus
    circle
      fill: var(--nucleus);

  .axon
    path
      fill: var(--axon);

  .terminal
    circle
      fill: var(--terminal);

  .pulse
    fill: var(--pulse);
    pointer-events: none;

  .label
    .tape
      fill: #fcf7dd;
      pointer-events: auto;
    text
      font: 18px cursive;
      alignment-baseline: middle;
      pointer-events: none;
      user-select: none;
