.neuron
  --nucleus: red;
  --axon: purple;
  --terminal: blue;
  --pulse: yellow;

  &.motor
    --nucleus: lawngreen;
    --axon: cyan;
    --terminal: #87CEFA

  .neuron-inner
    filter: url("#goo");

  .nucleus
    circle
      fill: var(--nucleus);

  .axon
    path
      fill: var(--axon);

  .terminal
    circle
      fill: var(--terminal);

  .pulse
    fill: var(--pulse);

  .label
    .tape
      fill: #fcf7dd;
    text
      font: 18px cursive;
      alignment-baseline: middle;
      pointer-events: none;
      user-select: none;
