.neuron
  .neuron-inner
    filter: url("#goo");

  .nucleus
    circle
      fill: red;

  .axon
    path
      fill: purple;

  .terminal
    circle
      fill: blue;

  .pulse
    fill: yellow;

  .label
    .tape
      fill: #fcf7dd;
    text
      font: 18px cursive;
      alignment-baseline: middle;
      pointer-events: none;
      user-select: none;
